$apple-fonts: apple-system, BlinkMacSystemFont;
$linux-fonts: "Droid Sans", "Noto Sans";
$win-fonts: "Segoe UI", Arial, Helvetica;
$os-fonts: $apple-fonts, $linux-fonts, $win-fonts;
$fonts: "Roboto", $os-fonts, system-ui, sans-serif;

.wrap {
    font: 400 16px $fonts;
}
